header#main-header
  a#logo-header(href='#')
    span.site-name {{Arbitername}}
    span.site-desc Diseño web / WordPress / Tutoriales
  // / #logo-header
  nav
    ul
      li
        a(href='#') Inicio
      li
        a(href='#')
          img(src='app/notifications-01.png', width='90', height='90')
      li
        a(href='#') Acerca de
      li
        a(href='#') Contacto
  // / nav
// / #main-header
